<nav>
  <ul class="nav {{include.navclass}}">
    <li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/research.html" class="{% if page.url == '/research.html' %}current{% endif %}">Research</a></li>
    <li><a href="{{site.baseurl}}/publications.html" class="{% if page.url == '/publications.html' %}current{% endif %}">Publications</a></li>
    <li><a href="{{site.baseurl}}/teaching.html" class="{% if page.url == '/teaching.html' %}current{% endif %}">Teaching</a></li>
    <!--
        <li><a href="{{site.baseurl}}/talks.html" class="{% if page.url == '/talks.html' %}current{% endif %}" >Talks and Presentation</a></li>
    -->
    <li><a href="{{site.baseurl}}/posts/blog.html" class="{% if page.url contains 'posts'%}current{% endif %}" >Posts</a></li> 
    <li> <a href="{{site.baseurl}}/berkeleyfluids/index.html"> Berkeley Fluids Seminars</a>  </li>
  <!--
    <li> <a href="{{site.baseurl}}/fluidsjournalclub/index.html"> Fluids Journal Club - UBC </a> </li>
    <li>  <a href="{{site.baseurl}}/ubcfluids/index.html"> UBC Fluids Seminar </a>  </li>
    -->
  </ul>
</nav>



