---
layout: default-bfs-new
---

  <p style="text-indent: 25px" align="justify">The Berkeley Fluids Seminar series meets weekly to discuss about the broad spectrum of cutting-edge fluid dynamics research. It is a great opportunity for the Fluids community in Berkeley (students, postdocs and faculty members) and for visitors to gather and share research thoughts in an informal context. The seminars will be held in 3110 Etcheverry Hall with a few exceptions. The schedule for the Spring 2019 is available <a href="{{site:baseurl}}/fall19.html" title="Fall 2019 Schedule">here</a>.</p><br>
  <p style="text-indent: 25px" align="justify"><b> If you are interested in presenting or have someone who might be prevailed upon to present, we would be happy to see if we can schedule a seminar slot for the semester. Please feel more than encouraged to contact us. (contact info on the left panel)</b></p>
      
<!--
  <h6>Berkeley Fluids Seminar will be on Mondays 12:30-13:30 in 3110 Etcheverry Hall with a few exceptions.</h6><br>

-->

<h6>Next speaker</h6><br>

{{content}}



