<!DOCTYPE html>
<html>


<head>

<title>UBC Fluids Seminar</title>
<META NAME="Author" CONTENT="Ahmad Zareei">
<META NAME="keywords" CONTENT="fluids, berkeley">
<style rel="stylesheet" type="text/css">
  {% include style.css %}
</style>

</head>

<body>

  <div class="main">

    <div class="top">
      <h1>UBC Fluids Seminar</h1>
      <h2>University of British Columbia</h2>
    </div>
    
    <div class="location">
      <h3> We critically evaluate recent articles in the academic literature in fluids!</h3>
    </div>
    
    <div class="sidebar">
      
      <div class="menu">
        <h4>Information</h4>
        <p>What: Fluids Seminar </p>
        <p>When: Thu 15:00-16:00</p>
        <p>Where: </p>
        <p><a href="{{site.baseurl}}/ubcfluids/2017.html" title="2017 schedule">2017 schedule</a></p>
        <p><a href="{{site.baseurl}}/ubcfluids/2016.html" title="2016 schedule">2016 schedule</a></p>

      </div>
      
      <div class="links">
        <h4>Contact</h4>

        <p align="center"><a href="http://mech.ubc.ca/gwynn-elfring/" title="Gwynn Elfring">Prof. Gwynn Elfring (PI)</a></p>
        <p align="center"> gelfring AT mech.ubc.ca</p><br>
        
      </div>
      
    </div>

    <div class="mainright">      
      
      {{content}}

<!--
    <h6>Acknowledgments</h6><br>
    
<p><a href="http://vcresearch.berkeley.edu/vice-chancellor-research-graham-fleming" title="Prof. Graham Fleming">Prof. Graham Fleming</a> (Vice Chancellor for Research, UC Berkeley)</p>
<p><a href="http://seismo.berkeley.edu/~manga" title="Prof. Michael Manga">Prof. Michael Manga</a> (Earth and Planetary Science, UC Berkeley)</p>
<p><a href="http://www.me.berkeley.edu/faculty/marcus/" title="Prof. Philip S. Marcus">Prof. Philip S. Marcus</a> on behalf of the <a href="http://www.me.berkeley.edu/" title="Berkeley Mechanical Engineering Department">Mechanical Engineering Department</a> (UC Berkeley)</p>
<p><a href="http://astro.berkeley.edu/~eliot/" title="Prof. Eliot Quataert">Prof. Eliot Quataert</a> on behalf of <a href="http://astro.berkeley.edu/tac/" title="The Theoretical Astrophysics Center">The Theoretical Astrophysics Center</a> and the <a href="http://astro.berkeley.edu/" title="Berkeley Astronomy Department">Astronomy Department</a> (UC Berkeley)</p>
<br>
-->

</div>

<div class="bottom">
  <h5>&copy; <a href="http://www.cbeaume.com" ><font color="white">  C&eacute;dric Beaume  </font> </a> </h5>
</div>

</div>

<body>

</html>

{% include google-analytics.html %}  

