<!DOCTYPE html>
<html>


<head>

<title>Fluids Journal Club</title>
<META NAME="Author" CONTENT="Ahmad Zareei">
<META NAME="keywords" CONTENT="fluids, berkeley">
<style rel="stylesheet" type="text/css">
  {% include style.css %}
</style>

</head>

<body>

  <div class="main">

    <div class="top">
      <h1>Fluids Journal Club</h1>
      <h2>University of British Columbia</h2>
    </div>
    
    <div class="location">
      <h3> We critically evaluate recent articles in the academic literature in fluids!</h3>
    </div>
    
    <div class="sidebar">
      
      <div class="menu">
        <h4>Information</h4>
        <p>What: Fluids Journal Club</p>
        <p>When: Fri 15:00-16:00</p>
        <p>Where: 1051 CEME</p>
        <p><a href="spring17.html" title="Spring 2017 schedule">Spring 2017 schedule</a></p>
      </div>
      
      <div class="links">
        <h4>Contact</h4>
        <p align="center"><a href="https://scholar.google.com/citations?user=fVq4AMEAAAAJ&hl=en" title="Babak Nasouri">Babak Nasouri (PI)</a></p>
        <p align="center"> babak.nasouri AT alumni.ubc.ca</p><br>
        
        
        <p align="center"><a href="../index.html" title="Ahmad Zareei">Ahmad Zareei</a></p>
        <p align="center">zareei AT berkeley.edu</p>
        <p align="center">ahmad.zareei AT gmail.com</p><br>
        
      </div>
      
    </div>

    <div class="mainright">      
      
      {{content}}

<!--
    <h6>Acknowledgments</h6><br>
    
<p><a href="http://vcresearch.berkeley.edu/vice-chancellor-research-graham-fleming" title="Prof. Graham Fleming">Prof. Graham Fleming</a> (Vice Chancellor for Research, UC Berkeley)</p>
<p><a href="http://seismo.berkeley.edu/~manga" title="Prof. Michael Manga">Prof. Michael Manga</a> (Earth and Planetary Science, UC Berkeley)</p>
<p><a href="http://www.me.berkeley.edu/faculty/marcus/" title="Prof. Philip S. Marcus">Prof. Philip S. Marcus</a> on behalf of the <a href="http://www.me.berkeley.edu/" title="Berkeley Mechanical Engineering Department">Mechanical Engineering Department</a> (UC Berkeley)</p>
<p><a href="http://astro.berkeley.edu/~eliot/" title="Prof. Eliot Quataert">Prof. Eliot Quataert</a> on behalf of <a href="http://astro.berkeley.edu/tac/" title="The Theoretical Astrophysics Center">The Theoretical Astrophysics Center</a> and the <a href="http://astro.berkeley.edu/" title="Berkeley Astronomy Department">Astronomy Department</a> (UC Berkeley)</p>
<br>
-->

</div>

<div class="bottom">
  <h5>&copy; <a href="http://www.cbeaume.com" ><font color="white">  C&eacute;dric Beaume  </font> </a> </h5>
</div>

</div>

<body>

</html>
{% include google-analytics.html %}

