---
layout: default
---                                
                                                                         
<h2> Posts: </h2>
<nav class='nav-under-top'>
  <ul class="nav {{include.navclass}}">
    <li><a href="{{site.baseurl}}/posts/blog.html" class="{% if page.url contains 'blog'%}current{% endif %}"> Blog</a></li>
        <li><a href="{{site.baseurl}}/posts/machine-learning.html" class="{% if page.url contains 'machine-learning' %}current{% endif %}"> Machine Learning</a></li>
    <li><a href="{{site.baseurl}}/posts/linux.html" class="{% if page.url contains 'linux' %}current{% endif %}"> Linux</a></li>
    <li><a href="{{site.baseurl}}/posts/ignometry.html" class="{% if page.url contains 'ignometry' %}current{% endif %}"> Ignometry</a></li>
        <li><a href="{{site.baseurl}}/posts/useful-links.html" class="{% if page.url contains 'useful' %}current{% endif %}"> Useful Links</a></li>
  </ul>
</nav>

<hr>

{{content}}
